# ===== Environment Variables สำหรับ Vercel / Production =====
# Copy ค่าเหล่านี้ไปวางใน Vercel > Project Settings > Environment Variables

SECRET_KEY=django-insecure-650b-(j369_nuad(!i&ei01slwzb1+6%+nwry(be`20%7ao5tw

DEBUG=False

CLOUDINARY_CLOUD_NAME=pbgpil2n
CLOUDINARY_API_KEY=879931116375716
CLOUDINARY_API_SECRET=uFHkfxGAzpoy-vzqOmaBgyAPbTQ

DATABASE_URL=postgresql://neondb_owner:npg_nIUtMl5j0FPX@ep-calm-firefly-b3fa3vyt-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
